*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------ */

body{
    background-color: rgb(255, 255, 255);
}

/* -------------------------------------Header----------------------------------- */

.navsup{
    background-color: violet;
    border: 0.5px solid black;
    box-shadow:  inset 0px 0px 20px 10px rgb(187, 0, 255);
}

.logosderedes{
    display: flex;
    justify-content: end;
}

.logosderedes img{
    width: 30px;
}

.logoheader img{
    width: 100px;
}

.header{
    font-family: 'Victor Mono', monospace;
    font-style: italic;
    font-size: 1.15rem;
    background-color: rgba(255, 255, 255, 0.827);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.25rem 1rem;
    border: 0.5px solid black;
    box-shadow:  inset 0px 0px 20px 5px rgb(187, 0, 255);
}

/* ---------------------------------main en general------------------------------------- */

.maincontacto{
    background-image:none
}

.main h1{
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    font-style: italic;
    color: blueviolet;
    padding: 5px 10px;
    margin-left: 20px !important
}

.main h2{
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}
/* ----------------------------------main en inicio--------------------------------- */

.imgcentral{
    width: 100%;
    height: 520px;
}

.imgcentral img{
    width: 100%;
    height: 520px;
   
}

/* --------------------------------main en animaciones----------------------------- */

.mainanimaciones{
    margin: 0 20px 0px 20px;
}

.tiposdeanimacion p{
    font-size: 1.10rem;
    padding: 20px;
    border: 15px dashed violet;
    margin: 0 10px;
    background-color: aliceblue;
    opacity: 90%;
    height: 40%;
}


.tiposdeanimacion{
    display: flex;
}

/* --------------------------------main de galeria--------------------------------- */
.main h1{
    margin: 0.67em 0;
}
/* --------------------------------main de nosotros-------------------------------- */

.quienessomos h2{
    display: inline-block;
    margin: 30px;
}

.endondeestamos h2{
    display: inline-block;
    margin: 30px;
}

.porqueelegirnos h2{
    display: inline-block;
    margin: 30px;
}
.contratarevento h2{
    display: inline-block;
    margin: 30px;
}

.divdemain p{
    margin:  10px 50px 20px;
}

/* ------------------------------Logo de Whatsapp---------------------------------- */

.logowpp a img{
    width: 50px;
    position: fixed;
    bottom: 120px;
    right: 30px;
}

/* --------------------------------Formulario-------------------------------------- */

.paraform{
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.779);
    padding: 0 50px 50px 50px;
}


.divdeform{
    background-color: rgb(48, 48, 48);
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    
}

.pararegistrate{
    width: 100%;
}

.pararegistrate h1{
    font-style: normal;
    font-size: 3rem;
    font-weight: 700; 
    border: none;
    margin-left: 0 !important; 
}

.registrate{
    color: rgb(255, 76, 246);
    font-size: 60px;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    font-style: normal;
}

.registrate span{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
}

.form .sector{
    margin-top: 60px;
}

.paraboton{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    width: 92%;
}

.parte3{
    display: block;
}

.parte5{
    width: 92.5%;
    display: flex;
    justify-content: end;
    padding:  0 0 30px 0;
}

.enparte5{
    display: inline-block;
}

.parte5 img{
    width: 30px;
}

.numero{
    color: rgb(255, 76, 246);
    text-shadow: 0px 0px 10px  rgb(136, 0, 255);
}

.sectorboton{
    margin: 0;
}


.form{
    height: 90%;
    box-shadow: 0 0 25px violet;
}


.divenform{
    display: grid;
    grid-template-columns: 50% 50%;
}


.parte3{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}



/* --------------------------------Footer-------------------------------- */

.footer{
    background-color: rgba(234, 0, 255, 0.322);
    width: 100%;
    padding: 10px 20px 30px 20px;
    border: 0.5px solid black;
    box-shadow:  inset 0px 0px 20px 10px rgb(187, 0, 255);
    
}

.img1{
    width: 100px;
    display: block;
    margin:10px auto 20px auto ;
}

.iconoigfooter,
.iconofbfooter{
    width: 70px;
}

.cajas{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 1rem, ;
    margin: 1rem 20px 1rem 20px;
}

.divprefrecuentes, .divcontactos{
    margin: 10px 50px;
    padding: 20px;
}

.divgaleria{
    margin: 10px 50px;
    padding: 20px;
}

.divderedes{
    margin: 10px 50px;
    padding: 20px;
}

.prefrecuentes, .lagaleria, .contactos, .redes{
    margin-top: 20px;
}

.cajas a, .cajas h3{
    text-decoration: underline solid 3px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: bold;
}
.cajas a:hover{
    color: rgb(187, 0, 255);
}


.cajacr{
    display: flex;
    justify-content: center;
}

.divdecopyright{
    margin: 20px 0px -2px 0px;
}

.numero1{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.numero1 img{
    width: 40px;
}

.tocaaqui{
    width: 90px;
    height: 70px;
}

a .h3deprefrecuentes{
    margin-left: 100px;
}


.divprefrecuentes a{
    margin: 0;
    text-align: start;
}
.prefrecuentes a{
    text-decoration: none;
    font-size: 1rem ;
    font-weight: 500;
    display: block;
}

.divcontactos a{
    margin: 0;
    text-align: center;
}

@media (max-width:1108px){
    .footer{
        background-color: rgba(234, 0, 255, 0.322);
        width: 100%;
        padding: 10px 20px 30px 20px;
        border: 0.5px solid black;
        box-shadow:  inset 0px 0px 20px 10px rgb(187, 0, 255);
        
    }

    .divprefrecuentes a{
        margin: 0;
        text-align: center;
    }
    .cajas{
        display: grid;
        grid-template-columns: auto auto;
    }
    .divgaleria, .divprefrecuentes, .divcontactos{
        text-align: center;
    }

    .divderedes{
        margin: 10px 50px;
        padding: 20px;
        text-align: center;
    }
}

@media (max-width:768px){
    .footer{
        background-color: rgba(234, 0, 255, 0.322);
        width: 100%;
        padding: 10px 20px 30px 20px;
        border: 0.5px solid black;
        box-shadow:  inset 0px 0px 20px 10px rgb(187, 0, 255); 
    }

    .divprefrecuentes a{
        margin: 0;
        text-align: center;
    }
    .cajas{
        display: grid;
        grid-template-columns: auto ;
    }
    .divgaleria, .divprefrecuentes, .divcontactos{
        text-align: center;
    }

    .divderedes{
        margin: 10px 50px;
        padding: 20px;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------ */

