$rosamodificado: rgb(255, 76, 246);
$violetamodificado: rgb(136, 0, 255);
$otrorosamodificado: rgb(255, 0, 221);
$colorbordeimagenes: rgb(64, 224, 208);
// -------------------------------------------------------------------------

// -------------------------------------Header----------------------------------- 
@import 'header';

// ---------------------------------main en general-------------------------------------
.main{
    background-image: url("/assets/img/Fotos\ Arcoiris/fondoo.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: repeat-x round;
    font-family: 'Victor Mono', monospace;
    margin: 0px;
}


// ----------------------------------main en inicio--------------------------------- 
#animaciones{
    h2{
        color: white;
        background-color:  $rosamodificado;
        border-radius: 40px ;
        margin: 20px;
    }
    h2:hover{
        background-color: red;
        color: black;
    }
    .col-lg-3{
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    img{
        width: 100%;
        height: 300px;
        border: 15px violet;
        border-style: dashed;
        margin-bottom: 40px;
    }
    a{
        text-decoration: none;
        background-color:violet ;
        padding: 5px 10px;
        font-size: 1.5rem;
        font-variant-caps: petite-caps ;
        font-weight: 600;
        color: black;
        border: 15px double rgb(255, 50, 50);
    }
    a:hover{
        background-color:rgb(255, 50, 50);
        color: black;
        border: 15px double violet;
    }
    div{
        margin: 00px 0px;
    }
    .row div {
        margin: 20px 0px;
    }
    .row div img:hover{
        border-color:rgb(255, 50, 50) ;
    }
}
#animaciones{
    background-color: aqua;
    border-radius: 60px;
}

@media (max-width: 768px){
    
    .imgcentral{
        width: 100%;
        height: 220px;
    }

    .imgcentral img{
        width: 100%;
        height: 220px;
    }
    
    
}

// --------------------------------main en animaciones-----------------------------
@mixin parah2{
    text-align: center;
    margin: 20px;
    color: $violetamodificado;
    border: 5px solid $violetamodificado;
    border-radius: 40px;
    padding: 10px 20px;
    background-image: url(/assets/img/Fotos\ Arcoiris/fondoo.jpg) ;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

.tiposdeanimaciones h2:hover{
    color: $rosamodificado;
    border-color: $rosamodificado;
}

.tiposdeanimacion img{
    margin: 10px;
    border-radius: 350px;
    border: 15px solid $violetamodificado;
}

.tiposdeanimacion{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tiposdeanimaciones{
    margin: 5px 20px 40px 20px;
    img{
        width: 400px;
        height: 400px;
        margin-bottom: 40px;
    }
    img:hover{
        border-color: $rosamodificado;
    }
    h2{
       @include parah2()    
    }
}
@media (max-width:1400px){
    .tiposdeanimaciones{
        margin: 5px 20px 40px 20px;
    }
    .tiposdeanimaciones img{
        width: 350px;
        height: 350px;
        border: 12px solid $violetamodificado;
    }
    
    .tiposdeanimacion p{
        font-size: 1.10rem
    }
    .tiposdeanimaciones h2{
        @include parah2()
    }
}

@media (max-width:960px){
    .tiposdeanimaciones{
        margin: 5px 10px 40px 10px;
    }
    .tiposdeanimaciones img{
        width: 300px;
        height: 300px;
        border: 12px solid $violetamodificado;
    }

    .tiposdeanimacion p{
        font-size: 1.10rem;
    }
    .tiposdeanimaciones h2{
        @include parah2()
    }
}

@media (max-width:768px){
    .tiposdeanimaciones{
        margin: 5px 10px 40px 10px;
    }
    .tiposdeanimaciones img{
        width: 280px;
        height: 280px;
        border: 12px solid $violetamodificado;
    }
    
    .tiposdeanimacion p{
        font-size: 1rem;
    }
    .tiposdeanimaciones h2{
        @include parah2()
    }
}

// --------------------------------main de galeria---------------------------------
#galeria{
    img{
        width: 100%;
        height: 300px;
        border: 8px solid $colorbordeimagenes;
    }
    .col-lg-3{
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    img:hover{
        border: 8px solid red;
        transform: scale(1.4);
    }
    h2{
        text-align: center;
        margin: 20px;
        color: $violetamodificado;
        border: 5px solid $violetamodificado;
        border-radius: 40px;
        padding: 10px 20px;
        background-image: url(/assets/img/Fotos\ Arcoiris/fondoo.jpg) ;
        width: 250px;
        margin-left: auto;
        margin-right: auto;  
    }      
    h2:hover{
        color: $rosamodificado;
        border-color: $rosamodificado;
    } 
    
}

@media (max-width:1460px){
    #galeria img:hover{
        border: 8px solid red;
        transform: scale(1.2);
    }
}

@media (max-width:800px){
    #galeria{
        h2{
            width: 250px;
        }
        img{
            margin-top: 20px;
        }
        img:hover{
            border: 8px solid red;
            transform: scale(1.0);
        }
    }
}
// -----------------------------------Nosotros------------------------------------

@import 'nosotros';

// --------------------------------Formulario--------------------------------------

@import 'formulario';
// --------------------------------Footer--------------------------------

@import 'footer';
// -----------------------------transitions-------------------------------
.img1:hover{
    width: 105px;
    transition: 150ms;
}

// .logowpp img:hover{
//     width:60px
// }
.logowpp img{
    animation-duration: 1.1s;
    animation-name: movimientowpp;
    animation-iteration-count: infinite;
}
@keyframes movimientowpp {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.5)
    }
    100%{
        transform: scale(1)
    }
}
    // ----------------------------------Error 404-------------------------------------- 

.error{
    object-fit: scale-down;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.deerror{
    text-align: center;
}
.anclaerror{
    color:$rosamodificado ;
    text-decoration: underline;
}